In [2]:
a=0
while a<50:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [3]:
a=0
while a<50:
    if a%2==0:
        print(f'{a} is an even number ')
        a+=1
    else:
        print(f'{a} is an odd number ')
        a+=1

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
16 is an even number
17 is an odd number
18 is an even number
19 is an odd number
20 is an even number
21 is an odd number
22 is an even number
23 is an odd number
24 is an even number
25 is an odd number
26 is an even number
27 is an odd number
28 is an even number
29 is an odd number
30 is an even number
31 is an odd number
32 is an even number
33 is an odd number
34 is an even number
35 is an odd number
36 is an even number
37 is an odd number
38 is an even number
39 is an odd number
40 is an even number
41 is an odd number
42 is an even number
43 is an odd number
44 is an even number
45 is an odd number
46 is an even number
47 is an odd number
48 is an even number
49 is an odd number

In [2]:
a=0
while a<50:
    if (a==0):
    print(f'{a} is neither odd nor even number')
    a+=1
elif:
    (a%2=0):
        
    print(f'{a} is an even number ')
        a+=1
else:
    print(f'{a} is an odd number ')
        a+=1

IndentationError: expected an indented block after 'if' statement on line 3 (3171157346.py, line 4)

In [ ]:
i=0
while i<50:
    if i%2==0:
        print("The number is an even")
        i+=1
else:
    print("The number is odd")
    i+=1

The number is an even

In [1]:
bill=[45,66,78,90,120]
total_bill=0
for a in bill:
    total_bill+=a
    
print(total_bill)

399

In [22]:
bill=[45,66,78,90,120]
total_bill=0
for a in bill:
    total_bill+=a    
print(f'The total bill is {total_bill}')
print(f'The average of money spent is {total_bill/len(bill)}')

The total bill is 399
The average of money spent is 79.8

In [ ]:
#input=5
n=int(input('Enter a number: '))
sum_natural=0

In [ ]:
for i in range(1,n+1):
    sum_natural += i
    print(f'Sum of the first{n} natural number is: {sum_natural}')

In [ ]:
n=5

#### 1. Sum of N natural numbers (For Loop)

In [ ]:
Write a Python program to calculate the sum of the first

In [ ]:
#For Loop
num=int(input('Enter the number till which you wnat the sum'))
sum=0
for i in range(num+1):
    sum=sum+i
print(sum)

In [111]:
#While Loop
num1=int(input('Enter the number till which you want the Factorial '))
Factorial=1
for i in range(1,num1+1):
    Factorial*=i
print(Factorial)

Enter the number till which you want the Factorial 5
120

In [ ]:
# For Loop
string=int(input('Enter the string that you wnat to reverse'))
e_str=""
for i in string:
    e_str=i+e_str
print(e_str)

In [3]:
# While Loop
string=input('Enter the string that you wnat to reverse')
e_str=""
while a<len string:
    e_str=string[a]+e_str
    a=a+1
print(e_str)

SyntaxError: unmatched ')' (79912874.py, line 2)

In [ ]:
#search for a number x in this tuple using loop
(1,4,9,16,25,36,49,64,81,100)

In [17]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 49)
x = 49
idx = 0
for el in nums:
    if el == x:
        print("number has been found at idx", idx)
    idx += 1

number has been found at idx 6
number has been found at idx 10

In [18]:
nums=(1,4,9,16,25,36,49,64,81,100,49)
x=49
idx=0
for el in nums:
    if (el==x):
         print("number has been found at idx",idx)
    idx+=1

number has been found at idx 6
number has been found at idx 10

In [2]:
nums=(1,4,9,16,25,36,49,64,81,100,49)
x=49
idx=0
for el in range(0,len(nums)):
    if (el==x):
        
        print("number has been found at idx",idx)

In [2]:
#Multiplication table for loop

In [ ]:
n=int(input("enter the number: "))
for i in range (1,11):
    print(n*i)

In [4]:
n=int(input("enter the number: "))
for i in range(1,21):
    print(n*i)

enter the number: 7
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140

In [ ]:
#FACTORIAL CALCULATION (WHILE LOOP)

In [65]:
n=int(input("enter the number: "))
factorial=1
while n>0:
    factorial*=n
    n-=1
    print(f"the factorial of {n} is {factorial(n)}")

enter the number: 5

TypeError: 'int' object is not callable

In [12]:
##PASS STATEMENT
for i in range (5):
    
    print("some datas")

some datas
some datas
some datas
some datas
some datas

In [16]:
for i in range(5):
          pass
    print("some datas")

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [20]:
n=5
for i in range(1,n+1):
    print(i)

1
2
3
4
5

In [31]:
n=5
i=n
while i>=1:
    i-=1

    print(i)

4
3
2
1
0

In [33]:
i=5
while i>=1:
     
        i-=1
        print(i)

4
3
2
1
0

In [29]:
i=100

while i>=1:

    print(i)
     i-=100

IndentationError: unexpected indent (2123662952.py, line 6)

In [22]:
#sum for loop
n=7
sum=0
for i in range (1,n+1):
    sum+=i
    print("total sum=",sum)

total sum= 1
total sum= 3
total sum= 6
total sum= 10
total sum= 15
total sum= 21
total sum= 28

In [1]:
# SUM while loop
n=7
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
    
    print("total sum",sum)

total sum 1
total sum 3
total sum 6
total sum 10
total sum 15
total sum 21
total sum 28

In [30]:
# Reverse a string (while loop)
#Write a python program that reverses a given string using a while loop. eg input hello output olleh

In [16]:
txt="Hello"
reverse_txt=""

i= len(txt) -1 #starting from the last index of the string

while i>=0:
    reverse_txt += txt[i]
    i-=1 #Decrease i by 1 #MOVE TO THE PREVIOUS CHARACTER 
        
print("Reversed string:", reverse_txt)

Reversed string: olleH

## FUNCTION

In [20]:
def add():
    print ('The function is working')

In [21]:
add()

The function is working

In [24]:
def test(a,b,c,d,e):
    x=a+b-c
    y=x+d+e
    print(y)

In [26]:
test(45,60,70,10,10)

55

In [30]:
test(100,200,250,130,150)

330

### Argument & Parameter

In [5]:
def diff(x,y): #def define mandatory normal string
    print (x-y)

In [6]:
diff(80,4)

76

In [7]:
def test(*val):
    x=val[0]+val[1]
    y=x-val[2]+val[3]+val[4]
    print(y)

In [8]:
test:(40,50,60,70,80)

In [9]:
def test(*val): #number of argu thaha chaina 
    print(val[0])
    print(val[1])
    print(val[2])

In [12]:
t=(1,2,3,4,5,6,7,8)
for i in t:
    print(i)

1
2
3
4
5
6
7
8

In [13]:
test(40,50,60,70,80)

40
50
60

In [15]:
def test(*arg):
    for i in arg:
        print(i)

In [9]:
test(455,55,77,86,75,32,589,22,100)

455
55
77
86
75
32
589
22
100

In [18]:
def test(*n):
    for i in n:
        print(i)

In [19]:
test(455,55,77,86,75,32,589,22,100)

455
55
77
86
75
32
589
22
100

In [6]:
dic={'name':'lhakpa','age':28, 'city':'Tatopani'}
for i,j in dic.items():
    print(f'The key is {i} and the value is {j}')

The key is name and the value is lhakpa
The key is age and the value is 28
The key is city and the value is Tatopani

In [4]:
def status(city='Kathmandu',name='Udit', age=27):
    print (f'I live in {city}.I am {name} and my age is {age}')

In [5]:
status()

I live in Kathmandu.I am Udit and my age is 27

In [6]:
status ('Tatopani','Lhakpa')

I live in Tatopani.I am Lhakpa and my age is 27

In [7]:
def status(city,name, age=27):
    print (f'I live in {city}.I am {name} and my age is {age}')

In [8]:
def test(**val):
    print(val['name'],val['age'],val['city'])

In [9]:
test(name='Lhakpa',age=28, city='Tatopani', hobbies='Sleeping')

Lhakpa 28 Tatopani

In [16]:
#write a program to calculate the simple interest 
def si(p,t,r):
    i=(p*t*r)/100
    print(f'Your interest of the given amount is {i}')
    
p=int(input('Enter the Principal amount in NPR'))
r=int(input('Enter the Rate of interest '))
t=int(input('Enter the time in year '))

si(p,t,r)

Enter the Principal amount in NPR8000
Enter the Rate of interest 10
Enter the time in year 5
Your interest of the given amount is 4000.0

In [2]:
#Write a Python function greet(name) that takes a name as an argument and prints a greeting message.
def greet(name):
    print(f'Hello,{name}!Tashi Delek!')
     
greet('Lhakpa')

Hello,Lhakpa!Tashi Delek!

In [96]:
def greet(name):
    print(f"Hello,{name}!Namaste!")
    
greet("Tenzin")

Hello,Tenzin!Namaste!

In [2]:
#eg
a=5
b=10                 #yo code repeat huna nadina 
sum=a+b
print(sum)

15

In [8]:
def cal_sum(a,b):
    sum=a+b
    print(sum)             #fixed code for repeated code #this is used to reduce redundancy 
    return sum

In [5]:
cal_sum(2,19)

21

21

In [6]:
cal_sum(5,10)

15

15

In [10]:
#MORE Simple 
def cal_sum(a,b): #(yo whole code lai) is called function definition, (a,b)is parameter)
    return a+b
sum=cal_sum(1,2) #yo line lai function cell bancha; (1,2)wala lai arguments bancha
print(sum)

15

In [1]:
#more simple
def print_hello():    #()khali rakhne paranthesis bancha
    print("hello")
    
print_hello()
print_hello()        #no input, no parameter, no output , no return value and this is also possible 
print_hello()
print_hello()
print_hello()

hello
hello
hello
hello
hello

In [2]:
def print_hello():   
    print("hello")
 #eg, euta variable ma store    
output=print_hello()        #yesma kai pani return chaina tesaile None aucha result 
print(output)

hello
None

In [16]:
#average of 3 numbers 
def cal_sum(a,b,c):
    sum= a+b+c
    avg=(a+b+c)/3
    print(avg)
    return avg

In [15]:
cal_sum(46,78,90)

71.33333333333333

71.33333333333333

In [12]:
cal_sum(36,2,56)

31.333333333333332

31.333333333333332

#### Type: 1. Build-in Function; i) PRINT FUNCTIONS ii) len( )  iii) type( ) iv) range( )

In [17]:
print("Lhakpa","Dolma")

Lhakpa Dolma

In [18]:
print("Lhakpa")
print("Dolma")

Lhakpa
Dolma

In [21]:
print("Lhakpa",end=" ")
print("Dolma")

Lhakpa Dolma

In [24]:
print("Lhakpa",\n=" ")
print("Dolma")

SyntaxError: unexpected character after line continuation character (3092071212.py, line 1)

## Default parameter

In [27]:
def cal_sum(a,b):
    print(a*b)
    return(a*b)

In [28]:
 cal_sum()  #yo error huncha kinaki yesma arguments chanhincha, but without parameter,function can operate by :

TypeError: cal_sum() missing 2 required positional arguments: 'a' and 'b'

In [30]:
#to do that
def cal_sum(a=2,b=7):
    print (a*b)
    return(a*b)

In [31]:
cal_sum() #happens by default

14

14

In [32]:
def cal_sum(a,b=7):  #single pani huncha
    print (a*b)
    return(a*b)

In [34]:
cal_sum(1)

7

7

In [35]:
#cannot do opposite  pahila # default value last ma matra dine agadi haina
def cal_sum(a=b,b):  #single pani huncha
    print (a*b)
    return(a*b)

SyntaxError: parameter without a default follows parameter with a default (1948263142.py, line 2)

In [59]:
#WAP to print the length of the list : list is the parameter
#example

cities=["Tatopani","Barabesi","kathmandu","Pokhara","Biratnagar"]
Heroes=["Ironman","Spiderman","Batman","Hatim","Captain America"]
    
def  print_len(list):
     print(len(list))

In [60]:
print_len(cities)

5

In [61]:
print_len(Heroes)

5

In [62]:
#pahila yesto gartiyo 
len(cities)        #but yo code repeat nagarna mathi ko function define

5

In [63]:
#Print in single line:

def print_list(list):
    for items in list:
        print(items, end=" ")

In [64]:
print_list(cities)

Tatopani Barabesi kathmandu Pokhara Biratnagar

In [84]:
#find the factorial of n.(n is a parameter)

def cal_fact(n):
    fact=1
    
    for i in range(1,n+1):
        fact*=i
    print(fact)

In [85]:
cal_fact(5)

120

In [86]:
cal_fact(9)

362880

In [106]:
#convert USD TO NRS

def converter(usd):
    nrs=usd*134
    print(usd,"USD= ", nrs, "NRS")

In [107]:
converter(45)

45 USD=  6030 NRS

In [108]:
converter(1)

1 USD=  134 NRS

In [109]:
#write a function for n to calculate show string "Odd" and "Even"

In [117]:

def check_val(n):
    i=0
    if i%2==0:
        print(f"This {n} is even number")
        i>=0
    else:
        print(f"This {n} is odd number")
        i>+1

In [118]:
check_val(6)

This 6 is even number

In [121]:
def odd_or_even(n):
    if i%2==0:
        return "Even"
    else:
        return "Odd"

In [122]:
print(odd_or_even(6))

Odd

In [124]:
#create a function is_even(num) that returns True if the given number is even, otherwise False

def is_even(num):
    if i%2==0:
        return "True"
    else:
        return "False"

In [125]:
is_even(9)

'False'

In [4]:
#Write a function reverse_string(sd that takes a string and returns the reversed version of the string.

#for loop 

def reverse_string(s):
    reversed_s=""
    for char in s:
        reversed_s=char+reversed_s
    return reversed_s

In [5]:
reverse_string("lhakpa")

'apkahl'

In [6]:
#while loop

def reverse_string(s):
    reversed_s=""
    i=len(s)-1
    while i>=0:
        reversed_s+=s[i]
        i-=1
    return reversed_s

In [7]:
reverse_string("Pokhara")

'arahkoP'

In [5]:
def reversed_string(s):
    return s[::-1]   # (:) Whole string

In [6]:
reversed_string("hello")

'olleh'

In [10]:
reversed_string("Kathmandu")

'udnamhtaK'

In [30]:
#retun largest number

def find_max(lst):
    if not lst:
        return None
    largest=lst[0]
    for num in lst:
        if num>largest:
            largest=num
            return largest

In [32]:
lst=(12,17,29,48,20)

In [34]:
find_max(lst)

17